:root{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    color: rgb(44, 44, 44);
}

h1{
    color: black;
}
h2{
    color: rgb(36, 35, 35);
}

div{
    padding: .2em .5em;
}
.green{
    width: fit-content;
    background-color: green;
    color: white;
    border-radius: 5%;
}

.red{
    width: fit-content;
    background-color: red;
    color: white;
    border-radius: 5%;
}

.clear{
    width: fit-content;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 5%;
}

img{
    width: 16px;
    aspect-ratio: 1/1;
}

td{
    padding: 0.5em 1em;
}

table tr:nth-child(2n+1){
    background-color: antiquewhite;
}